<input type="text" placeholder="Buscar amigo..." [(ngModel)]="query">
<br />
<b>Amigos</b>
<ng-container *ngFor="let user of friends | search: query; let i = index">
    <div *ngIf="user.friend">
        <a routerLink="/conversation/{{user.uid}}">
            <li>
                {{i + 1}} {{user.nick}} - {{user.age}}        
            </li>
        </a>
    </div>
</ng-container>

<b>No Agregados</b>
<ng-container *ngFor="let user of friends; let i = index">
    <div *ngIf="!user.friend">
        <a routerLink="/conversation">
            <li>
                {{i + 1}} {{user.nick}} - {{user.age}}        
            </li>
        </a>
    </div>
</ng-container>